Release*/
Debug*/
build/
include/Util/config.h
html/
Test-Suite/
Release+Asserts/
Debug+Asserts/
autoconf/
tests/result/
doxygen/
.*
!.gitignore
!.config.in
!.editorconfig
!.codecov.yml
*~
*.o
*.out
*.ll
*.bc
*.opt
*.log
*.status
*.obj
*.svf
cmake-build-debug/
